<% unless @mixtape.errors.empty? %>
<ul id='errors'>
<% @mixtape.errors.full_messages.each do |error| %>
<li><%= error %></li>
<% end %>
</ul>
<% end %>

<%= form_for @mixtape do |f| %>
<div class="form-group">
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
</div>
<div class="form-group">
	<p>
		<%= f.label :description %><br>
		<%= f.text_field :description, size: 40 %>
	</p>
</div>

<div class="form_group">
	
	<p><%= collection_check_boxes(:mixtape, :song_ids, Song.all, :id, :name) %></p>
		
	</div>

<div class="form-group">
	<%= f.submit %>
</div>

<% end %>